:root{
--branco-principal: #FFFFFF;
--cinza-secundario: #c0c0c0;
--botao-azul: #167BF7;
}

body{

    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);

}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}



.container__botao{

    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color:vara(--branco-principal);
    display: block;
}

.container_secundario{
  
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}


